   body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#one {position: fixed;
  bottom: 1;
  right: 1;
  width: 25%;
  margin: 5px;
  padding: 5px;
  border: 5px solid #73AD21;}

#two {position: fixed;
  bottom: 1;
  right: -1;
  width: 25%;
  margin: 5px;
  padding: 5px;
  border: 5px solid #73AD21; 
}

#three {position: fixed;
  bottom: -1;
  right: 0;
  width: 25%;
  margin: 5px;
  padding: 5px;
  border: 5px solid #73AD21;}

#four {  position: fixed;
  bottom: 0;
  right: 0;
  width: 25%;
  margin: 5px;
  padding: 5px;
  border: 5px solid #73AD21;}

#link{
  
    position: absolute;
    left: 0;
    right: 0;
    background-color: #3c58c7;
    color: #fefefe;
    padding: 2px;
    text-align: center;
    text-decoration: none;
    font-family: sans-serif;
    display: inline-block;
  }